### Using the US Covid19 dataset, Select all the data where state is Washington, Virginia, and Kansas, and where county is snohomish and Orange

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
covid = pd.read_csv(url)
covid.head()

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [2]:
states = ["Washington", "Virginia", "Kansas"] #list of the desired states
counties = ["Snohomish", "Orange"] #list of desired counties
state_group = covid.groupby("state") #group by state and return dataframe in a variable
state_df = pd.DataFrame() #declare empty dataframe to hold dataframe containing only the desired states
result = pd.DataFrame() #declare empty dataframe to hold the final result

for i in state_group: #iterate over each observation in the state grouped dataframe
    for j in states: #iterate over each desired state
        state_df = state_df.append(state_group.get_group(j)) #append and save each observation containing each desired state

county_group = state_df.groupby("county") #group by county and return dataframe in a variable
county_df = pd.DataFrame() #declare empty dataframe to hold dataframe containing only the desired counties

for i in county_group: #iterate over each observation in the county grouped dataframe
    for j in counties: #iterate over each desired county
        county_df = county_df.append(county_group.get_group(j)) #append and save each observation containing each desired county
result = county_df.copy() #copy the result to a new variable

In [3]:
#call the result
result

               date     county       state     fips  cases  deaths
0        2020-01-21  Snohomish  Washington  53061.0      1     0.0
1        2020-01-22  Snohomish  Washington  53061.0      1     0.0
2        2020-01-23  Snohomish  Washington  53061.0      1     0.0
4        2020-01-24  Snohomish  Washington  53061.0      1     0.0
7        2020-01-25  Snohomish  Washington  53061.0      1     0.0
...             ...        ...         ...      ...    ...     ...
1627954  2021-08-17     Orange    Virginia  51137.0   2411    40.0
1631201  2021-08-18     Orange    Virginia  51137.0   2430    40.0
1634449  2021-08-19     Orange    Virginia  51137.0   2440    40.0
1637699  2021-08-20     Orange    Virginia  51137.0   2456    40.0
1640949  2021-08-21     Orange    Virginia  51137.0   2456    40.0

[15945050 rows x 6 columns]